/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import 'https://fonts.googleapis.com/css?family=PT+Sans';

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'PT Sans', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #fff; 
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
    color: #006633;
}

h2.main-title {
    font-size: 2em;
    width: 100%;
}

p {
    font-size: .9em;
    line-height: 1.8em;
    color: #777;
}

a {
color: inherit;
}

a:hover {
color: inherit;
}

header {
    position: fixed;
    width: 100%;
    height:140px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #fff;
    z-index: 1000;
}

div#contact-header {
    display: block;
    width: 100%;
    background: white;
    z-index: 11;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
ul.contact-list-header {
    width: 95%;
    margin: 0 auto;
    padding: 0 25px;
    list-style: none;
    font-size: .8em;
    color: rgb(150, 150, 150);
}

li.contact-item-header {
    display: inline;
    line-height: 28px;
    padding: 0 25px;
    background-size: 12px !important;
}

li.contact-item-header a {
    color: rgb(150, 150, 150);
    text-decoration: none;
}

li.fb-header {
    background: url('fb.png') center left no-repeat;
    padding-left: 25px;
}

li.phone-header {
    background: url('phone.png') center left no-repeat;
    padding-left: 25px;
}

li.mail-header {
    background: url('mail.png') center left no-repeat;
    padding-left: 25px;
}

div#logo_header {
    width: 47.5%;
    margin-left:2.5%;
    padding: 16px;
    transition: all .1s;    
}

div#logo_header img {
    width: 100%;
    max-width: 400px;
}

nav#menu_header {
    width:47.5%;
    height: 40px;
    margin: 38px 2.5% 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 10;
    background: #fff;
}

input[type=checkbox]#toggle-menu_header {
    display: none;
}

label {
    display: none;
}

button.menu-link-header {
    display: inline;
    padding: 3px 25px;
    color: #006633;
    background: #fff;
    border: none;
    font-size: 1.3em;
}

div#content {
    position: relative;
    top:140px;
    width: 100%;
    margin: 0;
    padding: 0;
}

div#banner_content {
    position: relative;
    display: block;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:url('bg-video.jpg') center no-repeat;
    background-size: cover;
}

div#banner_content h2 {
    line-height: 200px;
    font-size: 3.5em;
    font-weight: 400;
    color: #fff;
}

/*div#play-video {
    position: relative;
    display: block;
    width: 20%;
    height: 60px;
    margin: 100px auto;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    border: solid 2px #000;
    border-radius: 3px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);

}

div#video-pop-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20vh 0 0;
    background: rgba(250, 250, 250, 0.9);
    text-align: center;
    z-index: 1000;
}

.hide {
    display: none;
}

.show {
    display: block;
    opacity: 0;
}

.close {
    position: absolute;
    top: 25px;
    right: 80px;
    color: #000;
    font-family: monospace;
    font-size: 3em;
    cursor: pointer;
}

iframe#sia-video {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.8)
}
*/
div#main_content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background: white;
}

div.main-item-content {
    width: 48%;
    margin: 25px 0;
    padding: 16px;
    border: solid 1px lightgrey;
    border-radius: 3px;
}

footer {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 0 40px;
    background: #fff;
}

div#contact-us_footer {
    width: 100%;
    padding: 25px;
    background: #fff;
}

div#contact-us_footer input {
    display: block;
}

div#contact-us_footer input[type="text"],
div#contact-us_footer textarea {
    width:60%;
    margin: 16px auto;
    padding: .3em;
    color: #777;
    border: 1px solid #ccc;
    border-radius: 3px;
}

div#contact-us_footer input[type="submit"] {
    width:20%;
    min-width: 250px;
    margin: 10px auto;
    padding: 16px 0;
    color: #fff;
    background: #006633;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

div#contact-us_footer input[type="submit"]:hover {
    background: #009933;
}

div#address_footer {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1690px) {

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* Styles Big Screen*/
@media only screen and (min-width: 1600px) {

}

/* Styles Medium Screen*/
@media only screen and (max-width: 1024px) {
    header {
        height:80px;
    }   
    div#contact-header {
        display: none;
    }
    div#logo_header {
        width: 32.5%;
    }
    nav#menu_header {
        width: 62.5%;
        margin: 22px 2.5% 0 0;
    }
    div#content {
        top: 80px;
    }
}

/* Styles Small Screen*/
@media only screen and (max-width: 756px) {
    input[type=checkbox]#toggle-menu_header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    }

    label {  
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin: 0;
    cursor: pointer;
    color: #006633;
    font-size: 200%;
    z-index: 1000;
    }

    div#logo_header {
        flex-grow: 2;
    }

    nav#menu_header {
        opacity: 0;
        flex-direction: column;
    }

    /* Toggled State */
    input[type=checkbox]:checked ~ nav#menu_header {
    opacity: 1;
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
